<app-user-account></app-user-account>
<div class="container">
    <div class="row">
        <div class="center-block">
            <h1>Finding films to watch</h1>
            <h3>Welcome, user</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-6">
            <app-query></app-query>
            <app-query-preferences></app-query-preferences>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-6">
            <app-results-list></app-results-list>
        </div>
    </div>
</div>