<!-- <app-user-account></app-user-account> -->
<div class="container">
    <div class="row bg-secondary">
        <div class="col-xs-6">
            <h1>Finding films to watch</h1>
        </div>
    </div>
    <div class="row bg-warning mt-3">
        <div class="col-xs-6">
            <app-query (resultsReceivedEvent)="onResultsReceived($event)"
                (recommendationsReceivedEvent)="onRecommendationsReceived($event)"
                (inputEmptiedEvent)="onInputEmptied()">
            </app-query>
        </div>
    </div>
    <div class="row mt-3">
        <!-- <div class="col-xs-6"> -->
        <div *ngIf="renderRecommendations; else showResults">
            Recommendations
        </div>
        <ng-template #showResults>
            <app-results-list [results]="queryResults.concat(recommendationResults)"></app-results-list>

        </ng-template>
        <!-- </div> -->
    </div>
</div>